* {
    margin: 0px;
    box-sizing: border-box;
}

.Cadastro {
    display: flex;
    flex-direction: column;
    background-color: #A4A4A4;
    height: 100%;
    
}

.ELEMENTO {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ELEMENTO a {
    font-size: 26px;
    color: black;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo hr {
    margin: 20px;
    width: 95vh;

}


.primeiro-input {
    display: flex;
    flex-direction: column;
    margin: 30px 200px 10px;
}

.primeiro-input h1 {
    font-size: 19px;
    margin: 0px 0px 10px;
}

section input {
    
    width: 70%;
    height: 40px;
    border-radius: 10px;
    border: none;
}
    .primeiro-input input {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: none;
    }

    .primeiro-input input::placeholder {
    padding: 45px;
    }

    .segundo-input {
    display: flex;
    flex-direction: column;
    margin: 30px 200px 10px;
    }

    .segundo-input h1 {
    font-size: 19px;
    margin: 0px 0px 10px;
    }

    .segundo-input input {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: none;
    }

    .terceiro-input {
    display: flex;
    flex-direction: column;
    margin: 30px 200px 28px;
    width: 140vh;
    height: 40px;
     border-radius: 10px;
    border: none;
    }
    

    .terceiro-input h1 {
    font-size: 19px;
    margin: 0px 0px 10px;
    }



    .terceiro-input img {
    width: 30px;
    height: 30px;
    position: relative;
    right: 45px;

    }

    .elemento-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    }

    .elemento-input input {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: none;
    }

    .terceiro-input input::placeholder {
    padding: 50px;
    }

    .quarto-input {
    display: flex;
    flex-direction: column;
    margin: 30px 200px 10px;
    }

    .quarto-input input::placeholder {
        padding: 50px;
    }

    .quarto-input h1 {
    font-size: 19px;
    margin: 0px 0px 10px;
    }

    .quarto-input input {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: none;
    }

    .quinto-input input::placeholder {
        padding: 50px;
    }

    .quinto-input {
    display: flex;
    flex-direction: column;
    margin: 30px 200px 10px;
    }

    .quinto-input h1 {
    font-size: 19px;
    margin: 0px 0px 10px;
    }


    .ele  .input {
        width: 100%;
    height: 40px;
    border-radius: 10px;
    border: none;
    }

    .inputs input {
    height: 50px;
    width: 220px;
    }

.botao-cadastro {
    width: 95vh;
    margin-left: 366px;
    height: 40px;
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    color: #ffff;
    background-color: #0B1B45;
    cursor: pointer;
}

.texto {
    margin-top: 30px;
    
    font-size: 30px;
    text-align: center;
}

span{
    color: #0185FF;
}

.botoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
}

.botoes img {
    position: relative;
    left: 60px;
    width: 30px;
    height: 30px;
}

.erro-cadastro {
    display: flex;
    align-items: center;
    color: #FF3333;
    font-size: 18px;
    justify-content: center;
    text-transform: uppercase;

}

.facebook {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
}

.facebook button {
    width: 360px;
    height: 60px;
    color: #0A32A6;
    font-size: 18px;
    background-color: #D9D9D9;
    border: none;
}
.google {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.google button {
    width: 360px;
    height: 60px;
    color: #0A32A6;
    font-size: 18px;
    background-color: #D9D9D9;
    border: none;
}