* {
    margin: 0px;
    box-sizing: border-box;
}

.Cadastro {
    display: flex;
    flex-direction: column;
    background-color:   #ffffff;
    height: 917px;
    background-image: url('../../assets/images/Untitled\ \(1\).png');

    
}

.ELEMENTO {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ELEMENTO a {
    font-size: 26px;
    color: black;
}

.ELEMENTO img{
    width: 30px;
}


    
    
.central{
    display: flex;
    align-items: center;
    justify-content:center ;
}


.td-cadastro{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    background-color: #ffffff; 
    border: solid;
    border-radius: 10px;
    border-color: black;
    height: 455px;
    width: 500px;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo hr {
    margin: 20px;
    width: 95vh;

}


.inputzz{
    display: flex;
    flex-direction: column;
    
}

.titulo-cd{
    display: flex;
    justify-content: center;
}
.titulo-cd h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.inputzz2{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    
}

.primeiro-input {
    display: flex;
    flex-direction: column;
    
}

.primeiro-input h1 {
    font-size: 13px;
    margin: 0px 10px 0px;
}

section input {
    
    width: 70%;
    height: 40px;
    border-radius: 10px;
    
}
    .primeiro-input input {
    width: 94%;
    height: 40px;
    border-radius: 10px;
    margin-left: 10px;
    
    }

    .primeiro-input input::placeholder {
    padding: 10px;
    }

    .segundo-input {
    display: flex;
    flex-direction: column;
    
    }

    .segundo-input h1 {
    font-size: 13px;
    margin: 4px 10px 10px;
    }

    .segundo-input input {
    width: 94%;
    height: 40px;
    border-radius: 10px;
    margin-left: 10px;
    
    }

    .terceiro-input {
    display: flex;
    flex-direction: column;
    
    
    height: 40px;
     border-radius: 10px;
    
    }
    

    .terceiro-input h1 {
        font-size: 13px;
        margin: 0px 10px 10px;
        
    }



    .terceiro-input img {
    width: 30px;
    height: 30px;
    position: relative;
    right: 45px;

    }

    .terceiro-input input {
        width: 100%;
        width: 20px;
    }

    .elemento-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    }

    .elemento-input input { 
    height: 40px;
    border-radius: 10px;
    margin-left: 10px;
    width: 600px;
    
    }

    .terceiro-input input::placeholder {
    padding: 13px;
    }

    .quarto-input {
    display: flex;
    flex-direction: column;
    margin: 30px 00px 10px;
    }

    .quarto-input input::placeholder {
        padding: 12px;
    }

    .quarto-input h1 {
        font-size: 13px;
        margin: 0px 10px 10px;
    }

    .quarto-input input {
    width: 94%;
    height: 40px;
    border-radius: 10px;
    margin-left: 10px;
    
    }

    .quinto-input input::placeholder {
        padding: 13px;
    }

    .quinto-input {
    display: flex;
    flex-direction: column;
    
    }

    .quinto-input h1 {
        font-size: 13px;
        margin: 0px 10px 10px;
   

    }


    .ele  .input {
    width: 94%;
    height: 40px;
    border-radius: 10px;
    margin-left: 10px;
    
    }

    .inputs input {
    height: 50px;
    width: 220px;
    }

.botao-cadastro  { 
    display: flex;
    align-items: center !important;
    justify-content: center !important; 
    font-size: 20px;
}


.botao-cadastro button {
    background-color: #0B1B45 !important;
    border: none;
    font-size: 17px;
    border-radius: 5px;
    width: 20% !important;
    cursor: pointer;
    height: 50px;
    border-radius: 5px;
}

.botao-cadastro button:hover{
    transition: 0.4s;
    color: #09c3bd;
}

.texto {
    margin-top: 5px;
    
    font-size: 19px;
    text-align: center;
}

span{
    color: #0185FF;
    
}

.botoess {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.botoess img {
    position: relative;
    left: 60px;
    width: 30px;
    height: 30px;
}

.erro-cadastro {
    display: flex;
    align-items: center;
    color: #FF3333;
    font-size: 18px;
    justify-content: center;
    text-transform: uppercase;

}

.facebook {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.facebook button {
    width: 300px;
    height: 60px;
    color: #ffffff;
    border-radius: 10px;
    font-size: 18px;
    background-color: #399fae;
    border: none;
    cursor: pointer;
}

.facebook button:hover{
    transition: 0.3s;
    color: #1944ae;
}

.google {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.google button {
    width: 300px;
    height: 60px;
    color: #0d6cb9;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #ffffff;
    border: none;
}

.google button:hover{
    transition: 0.3s;
    color: #f51432;
}