

.login {
    
    
    background-color: #fafafa;
    height: 848px;
    background-image: url('../../assets/images/Untitled\ \(1\).png');
    
}

.login-elemento {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.login-elemento a {
    font-size: 26.1px;
    color: black;
}

.login img{
    height: 30px;
}

.centralizando{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login11{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    height: 350px;
    width: 550px;
    background-color: #fafafa;
}

.login2{
     

    

}


.primeiro-input-login {
    display:flex;
    flex-direction: column;
    margin-left: 24%;
}
.primeiro-input-login img {
    position: relative;
    top: 84px;
    left: 12px;
    height: 30px;
    width: 30px;
}

.primeiro-input-login h1 {
    margin-bottom: 2%;
}
.primeiro-input-login input{
    padding-left: 5%;
    margin-bottom: 5%;
    width: 70%;
}

.segundo-input-login {
    display: flex;
    flex-direction: column;
    margin-left: 24%;
}

.segundo-input-login img {
    position: relative;
    top: 38px;
    left: 12px;
    height: 30px;
    width: 30px;
}

.segundo-input-login input {
    padding-left: 5%;
    width: 70%;
}

.botaoooo {
    display: flex;
    align-items:center;
    justify-content: center;
    margin-top: 3%;
}
    .botaoooo button {
        background-color: #0B1B45 !important;
        border: none;
        font-size: 17px;
        border-radius: 5px;
        width: 20% !important;
        cursor: pointer;
        height: 50px;
        border-radius: 4px;
    }

    .botaoooo button:hover{
        transition: 0.4s;
        color: #09c3bd;

    }

    
    

.erro {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ff0000;
    font-size: 21px;
}


.fim-bt{
    display: flex;
    justify-content: center;
}

.botoes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
}