

.login {
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
    height: 100%;
    
}

.login-elemento {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.login-elemento a {
    font-size: 26.1px;
    color: black;
}

.login img{
    height: 30px;
}


.primeiro-input-login {
    display:flex;
    flex-direction: column;
    margin-left: 24%;
}
.primeiro-input-login img {
    position: relative;
    top: 84px;
    left: 12px;
    height: 30px;
    width: 30px;
}

.primeiro-input-login h1 {
    margin-bottom: 2%;
}
.primeiro-input-login input{
    padding-left: 5%;
    margin-bottom: 5%;
    width: 70%;
}

.segundo-input-login {
    display: flex;
    flex-direction: column;
    margin-left: 24%;
}

.segundo-input-login img {
    position: relative;
    top: 38px;
    left: 12px;
    height: 30px;
    width: 30px;
}

.segundo-input-login input {
    padding-left: 5%;
    width: 70%;
}

.botaoooo {
    display: flex;
    align-items:center;
    justify-content: center;
    margin-top: 3%;
}
    .botaoooo button {
        background-color: #0B1B45;
        border: none;
        cursor: pointer;
        width: 800px  !important ;
    }

.erro {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ff0000;
    font-size: 21px;
}