

.englobarrrry{
    display: flex;
    flex-direction: column;
    align-items: center;
}





.cimaaaay{
    display: flex;
    flex-direction: column;


}
.cimaaaay h3{
    font-size: 34px;
    
}
.cimaaaa h4{
    font-size: 34px;
   
}
.descricaooooy{
   display: flex;
   flex-direction: row;
   padding: 5px;
   background-color: #F1EDED;
   font-size: 20px;
   padding-bottom: 15x;
   justify-content: space-around;
}
.descricaooooy h1{
    
}

.a97y{  
    display: flex;
    flex-direction: row;   
    font-size: 12px;
    padding-left: 90px;
    
}
.a97y h1{
   
}
.a97y h3{
    font-size: 30px;
    padding-left: 280px;
}
.a97y h3 img{
    height: 60px;
}
.a97y h4{
    width: 500px;
    font-size: 25px;
    padding-left: 190px;
}

.a440y{
    display: flex;
    flex-direction: row;
    background-color: #F1EDED;
    font-size: 12px;
    padding-left: 100px;
    
}
.a440y h1{
    
}
.a440y h3{
    font-size: 30px;
    padding-left: 265px;
}
.a440y h4{
    padding-left: 260px;
    font-size: 25px;
    width: 600px;   
}
.a364y{
    display: flex;
    flex-direction: row;
    font-size: 12px;
    padding-left: 100px;
}
.a364y h1{
    
}
.a364y h3{
    font-size: 30px;
    padding-left: 273px;
    
}
.a364y h3 img  {
    height: 60px;
}
.a364y h4{
    padding-left: 295px;
    font-size: 25px;
    width: 600px;
}
.a123y{
    display: flex;
    flex-direction: row;
    background-color: #F1EDED;
    font-size: 12px;
    padding-left: 100px;
}
.a123y h1{
    
}
.a123y h3{
    font-size: 30px;
    padding-left: 132px;
}

.a123y h4{
    padding-left: 206px;
    font-size: 25px;
    width: 500px;
}

