


.geral2{
   
   padding-top: 30px;
   font-family: Arial, Helvetica, sans-serif;
}

.geral2 img{
margin: 6px;
}

 .faixa-011{
    display: flex;
    flex-direction: row;
    padding-left: 40px;
    padding-top: 20px;
   
    
    
 }

 .faixa-011 img{
    padding-left: 40px;
 }

 .faixa-011 h1{
    font-size: 20px;
    padding-left: 100px;
 }

 .faixa-011 h3{
    font-size: 20px;
    padding-left: 230px;

 }

 .faixa-011 h4{
    font-size: 20px;
    padding-left: 289px;
 }

 .faixa-011 h5{
    font-size: 20px;
    padding-left: 240px;
 }

 

 .faixa-022{
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    background-color: darkgray;
    padding-right: 30px;

    
 }

 .faixa-022 h3{
    font-size: 20px;
    padding-left: 40px;
 }

 .faixa-022 img{
   padding-left: 40px;
 }
 
 .faixa-022 h4{
    font-size: 20px;
    padding-left: 50px;
 }

 .faixa-022 h5{
    font-size: 20px;
    padding-left: 180px;
    font-family: Arial, Helvetica, sans-serif;
   
 }

 .faixa-022 h5:hover{
   transition: 0.3s;
   color: rgb(251, 186, 106);
 }

 .faixa-022 h6{
    font-size: 20px;
    padding-left: 209px;
 }







 .faixa-033{
    display: flex;
    flex-direction: row;
    
    padding-top: 30px;
 }

 .faixa-033 h4{
    font-size: 20px;
    padding-left: 40px;
    
 }

 .faixa-033 img{
   padding-left: 40px;
 }
 
 .faixa-033 h3{
    font-size: 20px;
    padding-left: 50px;
 }

 .faixa-033 h6{
    font-size: 20px;
    padding-left: 190px;
    font-family: Arial, Helvetica, sans-serif
 }

 .faixa-033 h6:hover{
   transition: 0.3s;
   color: rgb(157, 157, 157);
 }

 .faixa-033 h1{
    font-size: 20px;
    padding-left: 225px;
    color: black;
 }
 

 .faixa-044{
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    background-color: darkgray;
 }
 
.faixa-044 img{
   padding-left: 40px;
}

 .faixa-044 h1{
    font-size: 20px;
    padding-left: 40px;
    padding-top: 5px;
 }
 
 .faixa-044 h3{
    font-size: 20px;
    padding-left: 50px;
 }

 .faixa-044 h4{
    font-size: 20px;
    padding-left: 200px;
    font-family: Arial, Helvetica, sans-serif;
 }

 .faixa-044 h4:hover{
   transition: 0.3s;
   color: rgb(255, 0, 0);
   
 }

 .faixa-044 h5{
    font-size: 20px;
    padding-left: 225px;
 }



 .faixa-055{
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    
 }

 .faixa-055 h1{
    font-size: 20px;
    padding-left: 40px;
 }
 
 .faixa-055 img{
   padding-left: 40px;
 }

 .faixa-055 h3{
    font-size: 20px;
    padding-left: 50px;
 }

 .faixa-055 h4{
    font-size: 20px;
    padding-left: 190px;
    font-family: Arial, Helvetica, sans-serif;
 }

 .faixa-055 h4:hover{
   transition: 0.3s;
   color: rgb(255, 247, 26);
 }

 .faixa-055 h5{
    font-size: 20px;
    padding-left: 190px;
 }


 .faixa-066{
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    background-color: darkgray;
    
 }

 .faixa-066 h1{
    font-size: 20px;
    padding-left: 38px;
 }
 
.faixa-066 img{
   padding-left: 40px;
}

 .faixa-066 h3{
    font-size: 20px;
    padding-left: 50px;
 }

 .faixa-066 h4{
    font-size: 20px;
    padding-left: 140px;
    font-family: Arial, Helvetica, sans-serif;
    
 }

 .faixa-066 h4:hover{
   transition: 0.3s;
   color: rgb(160, 255, 123);
 }

 .faixa-066 h6{
    font-size: 20px;
    padding-left: 210px;
 }




 .faixa-077{
    display: flex;
    flex-direction: row;
    margin-bottom: 44px;
    padding-top: 30px;
 }

 .faixa-077 h1{
    font-size: 20px;
    padding-left: 38px;
 }

 .faixa-077 img{
   padding-left: 40px;

 }
 
 .faixa-077 h3{
    font-size: 20px;
    padding-left: 47px;
 }

 .faixa-077 h4{
    font-size: 20px;
    padding-left: 170px;
    font-family: Arial, Helvetica, sans-serif;
 }

 .faixa-077 h4:hover{
   transition: 0.3s;
   color: rgb(0, 199, 13);
 }

 .faixa-077 h5{
    font-size: 20px;
    padding-left: 222px;
 }

