*{
    box-sizing: border-box;
    margin: 0px;
 }

 .faixa-01{
    display: flex;
    flex-direction: row;
    padding-left: 40px;
    padding-top: 20px;
    
 }

 .faixa-01 img{
    padding-left: 0px;
 }

 .faixa-01 h1{
    font-size: 20px;
    padding-left: 60px;
 }

 .faixa-01 h3{
    font-size: 20px;
    padding-left: 230px;

 }

 .faixa-01 h4{
    font-size: 20px;
    padding-left: 270px;
 }

 .faixa-01 h5{
    font-size: 20px;
    padding-left: 240px;
 }

 

 .faixa-02{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    
 }

 .faixa-02 h3{
    font-size: 20px;
    padding-left: 40px;
 }

 .faixa-02 img{
    padding-left: 40px;
 }
 
 .faixa-02 h4{
    font-size: 20px;
    padding-left: 50px;
 }

 .faixa-02 h5{
    font-size: 20px;
    padding-left: 180px;
 }

 .faixa-02 h6{
    font-size: 20px;
    padding-left: 200px;
 }







 .faixa-03{
    display: flex;
    flex-direction: row;
    
    padding-top: 20px;
 }

 .faixa-03 h4{
    font-size: 20px;
    padding-left: 40px;
    
 }

 .faixa-03 img{
    padding-left: 40px;
 }
 
 .faixa-03 h3{
    font-size: 20px;
    padding-left: 50px;
 }

 .faixa-03 h6{
    font-size: 20px;
    padding-left: 190px;
 }

 .faixa-03 h1{
    font-size: 20px;
    padding-left: 217px;
    color: black;
 }
 

 .faixa-04{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
 }
 
.faixa-04 img{
    
    
    padding-left: 40px;
}

 .faixa-04 h1{
    font-size: 20px;
    padding-left: 40px;
    padding-top: 5px;
 }
 
 .faixa-04 h3{
    font-size: 20px;
 }

 .faixa-04 h4{
    font-size: 20px;
 }

 .faixa-04 h5{
    font-size: 20px;
 }



 .faixa-05{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-left: 40px;
 }

 .faixa-05 h1{
    font-size: 20px;
 }
 
 .faixa-05 h3{
    font-size: 20px;
 }

 .faixa-05 h4{
    font-size: 20px;
 }

 .faixa-05 h5{
    font-size: 20px;
 }


 .faixa-06{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-left: 40px;
 }

 .faixa-06 h1{
    font-size: 20px;
 }
 
 .faixa-06 h3{
    font-size: 20px;
 }

 .faixa-06 h4{
    font-size: 20px;
 }

 .faixa-06 h6{
    font-size: 20px;
 }




 .faixa-07{
    display: flex;
    flex-direction: row;
    padding-left: 40px;
    padding-top: 21px;
 }

 .faixa-07 h1{
    font-size: 20px;
 }
 
 .faixa-07 h3{
    font-size: 20px;
 }

 .faixa-07 h4{
    font-size: 20px;
 }

 .faixa-07 h5{
    font-size: 20px;
 }

