* {
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

.App{
    display: flex;
    flex-direction: column;
    
    
}

.parte-inicial {
    background-image: url('../../assets/images/Untitled\ \(1\).png');
    height: 100vh;
    width: 100%;
    
    background-size: cover;
}

.cabecalho{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    input {
       width: 500px;
       height: 30px;
       border-radius: 10px;
       border: none;
    }

    input::placeholder {
        padding: 30px;

    }
}

.alinhamento {
    display: flex;
    flex-direction: row;
    align-items: center;
}
#Lupa {
    position: relative;
    left: 25px;
}
.links a  {
    text-decoration: none;
    color: #000000;
    margin: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.cabecalho2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #000000;
    padding: 10px;

}

.cabecalho2 p, a {
    color: #ffff;
}


.cabecalho2 a {
   margin: 30px;
}

#Vestuario {
    margin-left: 220px;
}

.Centro{
    display: flex;
    flex-direction: column;
    margin: 90px;
}

.Centro h1 {
    width: 420px;
    text-align: center;
    color: #ffff;
}

.Centro button {
    background-color: #0F1A00;
    height: 45px;
    border-radius: 10px;
    width: 165px;
    color: #ffff;
    border: none;
    font-size: 15px;
    margin: 70px;
}

.fundo {
    background-size: cover;
    background-image: url('../../assets/images/image\ 55.png');
}

.pagina-segunda {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.maisprocurado {
    margin: 20px;
}
.procurado {
    display: flex;
    flex-direction: row;
}

.procurado img {
   height: 260px;
   width: 250px;
   
}


.procurado1, .procurado2, .procurado3, .procurado4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 12px;
}

.procurado1 h1 {
    font-size: 16px;
    width: 230px;
    text-align:center;
    color: #ffff;
    margin: 2px;
}



.procurado1-2, .procurado2-3, .procurado3-4, .procurado4-5 {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #0F1A00;
    width: 250px;
    height: 90px;

}

.procurado1-2, .procurado2-3, .procurado3-4, .procurado4-5 p {
    color: #ffff;
}
.procurado2 h1 {
    font-size: 16px;
    text-align:center;
    color: #ffff;
    margin: 5px;

}

.procurado3 h1 {
    font-size: 16px;
    color: #ffff;
    margin: 5px;
    text-align:center;
}

.procurado4 h1 {
    font-size: 16px;
    color: #ffff;
    margin: 5px;
    text-align:center;
}

.botaoo {
    margin-left: 65px;
    width: 120px;
    height: 135px;
    border-radius: 14px;
    background-color: #3E3E3E;
    color: #ffff;
    border: none;
    align-items:center ;
}

.faixaa {
    display: flex;
    flex-direction: row;
}

.faixaa h1, h2 {
    font-size: 20px;
    position: relative;
    bottom: 140px;
    color: #000;
}
.faixa-02{
    display: flex;
    flex-direction: column; 
    align-items: center; 
}


.slc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slc img {
    display: flex;
    align-items: center;
    height: 240px;
    width: 630px;
    margin: 10px;
}

.faixa-02 h1, h2{
       
    color: antiquewhite;
    font-size: 20px;

}



.faixa-03{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faixa-03 h1, h2{
    color: antiquewhite;
    font-size: 20px;
}


 



.faixa-button button{
    
    
    
    border-radius: 4px;
    cursor: pointer;
    background-color: #011b07;
    height: 30px;
    border: none;
    color: aliceblue;
    font-size: 10px;
    
}

.div-itens{
    display: flex;
    flex-direction: row;
}

// .promocoes {
//     display: flex;
//     flex-direction: column;
//     align-items:center;
//     background-image: url('../../assets/images/Rectangle\ 4.png');
// }

// .faixa04 {
//     display: flex;
//     flex-direction: row;
//     margin: 30px;
//     align-items: center;
// }

// .bolsa {
//     display: flex;
//     flex-direction: column;
//     background-color: #ffff;
//     height: 800px;
    
// }

// .bolsa img {
//     width: 300px;
//     height: 300px;

// }
// .abaixo {
//     background-color: #00081D;
//     height: 200px;
//     border-radius: 14px;
//     width: 400px;
//     text-align: center;
// }

// .abaixo h1, p {
//     font-size: 18px;
//     color: #ffff;
// }
// .abaixo2 {
//     display: flex;
//     flex-direction: row;
// }

// .lanterna {
//     display: flex;
//     flex-direction: column;
//     background-color: #ffff;
//     margin: 20px;
// }

// .jaqueta {
//     display: flex;
//     flex-direction: column;
//     background-color: #ffff;
// }




.promocoes-mae{
    display: flex;
    flex-direction: row;
   
    padding-left: 250px;
    background-image: url('../../assets/images/Rectangle\ 4.png');
}

.promocoes-mae {
    display: flex;
    flex-direction: row;
    height: 600px;
}

.titulo h1{
    display: flex;
    flex-direction: row;
    padding-left: 60px;
}

.itensgeral{
    display: flex;
    flex-direction: row;
    padding-top: 50px;
}

.itens1{
    
    background-color: #F8F8F8;
    height: 400px;
    
}

.itens1 img{
    height: 230px;
    padding-top: 40px;
}

.itens2{
    
   
    height: 400px;
    background-color: #F8F8F8;
    
}

.itens2 img{
    padding-left: 200px;
    padding-top: 40px;
    height: 230px;
}

.itens3{
    background-color: #F8F8F8;
    height: 400px;

}



.itens3 img{
    height: 200px;
    padding-left: 300px;
    padding-top: 40px;
}








.fundo2{
    background-size: cover;
    background-image: url('../../assets/images/fundo2.png');
   
}

.baixo{
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.baixo h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: antiquewhite; 
    
}
    
.baixo p{
    color: antiquewhite;
    width: 750px;
    height: 230px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
     
    
}
.baixo button{
    border-radius: 4px;
    cursor: pointer;
    background-color: #3E3E3E;
    height: 30px;
    width: 170px;
    
    color: aliceblue;
    font-size: 10px;
    
}

.infopess{
    padding-top: 20px;
}

.rodape2 p {
    display: flex;
    justify-content: center;
    padding-top: 30px;

}

.rodape2 h1{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;

}

.rodape3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
    text-decoration: underline;
}

.rodape3 p{
    padding-right: 290px;
}

.rodape4{
    display: flex;
    justify-content: center;
    padding-right: 350px;
    padding-top: 50px;
    text-decoration: underline;

}


.rodape5{
    display: flex;
    justify-content: center;
    padding-right: 350px;
    padding-top: 50px;
    text-decoration: underline;
}

.rodape6{
    padding-left: 500px;
}

.rodape6 button{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    background-color: #1b1a1a;
    border: none;
    border-radius: 3px;
    padding-left: 20px;
}







.cabecario{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fundo8{
    background-color: F8F8F8;
}

.cabecario{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 40px;
    box-shadow: 100px;
    padding: 20px;
    background-color: #F8F8F8;
    height: 200px;

}

.cabecario h3{
    font-size: 17px;
    text-decoration-line:underline;
    padding-left: 30px;
    

}

.cabecario h4{
    font-size: 17px;
    text-decoration-line:underline;
    padding-left: 38px;


}

.cabecario h5{
    font-size: 17px;
    text-decoration-line:underline;
    width: 270px;
    padding-left: 38px;


}

.cabecario h6{
    font-size: 20px;
    text-decoration-line:underline;
    width: 270px;
    font-size: 17px;
    padding-left: 48px;
    

}


.cabecario img{
    width: 80px;
    padding-left: 37px;
}


.pagamento{
padding-top: 20px;
padding: 20px;
}

.pagamento img{
    display: flex;
    flex-direction: row;
    padding-left: 390px;
}


.rodape7{
    
    background-color: #000;
    height: 170px;
}

.faixa-img{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    width: 15px;
    height: 10px;
}

.faixa-img img{
    width: 280px;
    padding-left: 100px;
    padding-top: 10px;
}

.rodape{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 90px;
    justify-content:center;
    justify-content: space-between;
    padding-left: 390px;
    width: 890px;
    
    

}

.rodape p{
    color: #F8F8F8;
    
    padding-bottom: 80px;
    position: relative;

}

.rodape img{
    padding-left: 90px;
    width: 500px;
}

.elements p{
    color: #F8F8F8;
    display: flex;
    position: fixed;
    padding-left: 1100px;
    width: 1500px;
    
}


   