* {
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

.App{
    display: flex;
    flex-direction: column;
    
    
}


.parte-inicial {
    background-image: url('../../assets/images/Untitled\ \(1\).png');
    height: 100vh;
    width: 100%;
    
    background-size: cover;
}



.cabecalho{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    input {
       width: 500px;
       height: 30px;
       border-radius: 10px;
       border: none;
      padding-left: 25px;
       
    }

    .cabecalho input::placeholder {
        padding-left: 2%;
    }
}

.alinhamento {
    display: flex;
    flex-direction: row;
    align-items: center;
}


#Lupa {
    position: relative;
    left: 25px;
}
.links a  {
    text-decoration: none;
    color: #000000;
    margin: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.cabecalho2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #000000;
    padding: 10px;

}

.cabecalho2 p, a {
    color: #ffff;
}


.cabecalho2 a {
}

.lista {
    display: flex;
    flex-direction: row;
}

#vestuario-home {
    margin-left: 400px;
    color: #ffff;
}

.lista ul {
    list-style: none;
    display: flex;
  }
  
  .lista li {
    
  }
  
  .lista  .dropdown-menu {
   display: none;
   background-color: #ffff;
   position: absolute;
   width: 120px;
   height: 100px;
   border-radius: 2px;
   padding: 20px;
}

.dropdown-menu {
    opacity: 0;
    transition: opacity 0.5s ease ;
}

.dropdown-menu:hover {
    display: block;
    opacity: 1;
}

.lista .dropdown:hover .dropdown-menu {
    display: block;
     
}


  .lista .dropdown-menu li a {
    color: #000;
  }
 
  
  
  
  .lista a:hover {
    text-decoration: underline;
  }
  

.Centro{
    display: flex;
    flex-direction: column;
    margin: 90px;
}

.Centro h1 {
    width: 420px;
    text-align: center;
    color: #ffff;
}

.Centro button {
    background-color: #0F1A00;
    height: 45px;
    border-radius: 10px;
    width: 165px;
    color: #ffff;
    border: none;
    font-size: 15px;
    margin: 70px;
}

.fundo {
    background-size: cover;
    background-image: url('../../assets/images/image\ 55.png');
}



.pagina-segunda {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.maisprocurado {
    margin: 20px;
}
.procurado {
    display: flex;
    flex-direction: row;
}

.procurado img {
   height: 260px;
   width: 250px;
   
}


.procurado1, .procurado2, .procurado3, .procurado4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 12px;
}

.procurado1 h1 {
    font-size: 16px;
    width: 230px;
    text-align:center;
    color: #ffff;
    margin: 2px;
}

.procurado1 p{
    padding-top: 5px;
}



.procurado1-2, .procurado2-3, .procurado3-4, .procurado4-5 {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #0F1A00;
    width: 250px;
    height: 90px;

}

.procurado1-2, .procurado2-3, .procurado3-4, .procurado4-5 p {
    color: #ffff;
}


.procurado1-2, .botaoo button{
    margin-bottom: 6px;
}



.procurado2 h1 {
    font-size: 16px;
    text-align:center;
    color: #ffff;
    margin: 5px;

}

.procurado3 h1 {
    font-size: 16px;
    color: #ffff;
    margin: 5px;
    text-align:center;
}

.procurado4 h1 {
    font-size: 16px;
    color: #ffff;
    margin: 5px;
    text-align:center;
}

.botaoo {
    margin-left: 65px;
    width: 120px;
    height: 135px;
    border-radius: 14px;
    background-color: #3E3E3E;
    color: #ffff;
    border: none;
    align-items:center ;
    cursor: pointer;
}

.procurado1-2 button:hover{
    transition: 0.3s;
    color: #0b5e48;
}

.procurado2-3 button:hover{
    transition: 0.3s;
    color: #0b5e48;
}

.procurado3-4 button:hover{
    transition: 0.3s;
    color: #0b5e48;
}

.procurado4-5 button:hover{
    transition: 0.3s;
    color: #0b5e48;
}

.faixaa {
    display: flex;
    flex-direction: row;
}

.faixaa h1, h2 {
    font-size: 20px;
    position: relative;
    bottom: 140px;
    color: #000;
}
.faixa-02{
    display: flex;
    flex-direction: column; 
    align-items: center; 
}


.slc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.slc img {
    display: flex;
    align-items: center;
    height: 240px;
    width: 630px;
    margin: 10px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.slc img:hover {
    transform: scale(1.2);
}
.slc h1{
    padding-left: 10px;
}


.faixa-02 h1, h2{
       
    color: antiquewhite;
    font-size: 20px;

}



.faixa-03{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.faixa-03 img{
    width: 600px;
}

.faixa-03 h1, h2{
    color: antiquewhite;
    font-size: 20px;
}

.faixa-03 img {
    width: 580px;
}
 



.faixa-button button{
    
    
    
    border-radius: 4px;
    cursor: pointer;
    background-color: #011b07;
    height: 30px;
    border: none;
    color: aliceblue;
    font-size: 10px;
    transition: (0.5)s;
}

.faixa-button button:hover {
    transform: scale(1.1);
}

.div-itens{
    display: flex;
    flex-direction: row;
}




.promocoes-mae{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;  
        
}

.itensgeral{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.itens1 {
    background: transparent;
    border: 2px solid #000;
    width: 270px;
    height: 390px;
    border-radius: 8px;
    background-image: url('../../assets/images/texturizado.png');
    
}

.itens1 img{
    display: flex;
    align-items: center;
    height: 200px;    
    width: 200px;
    margin-left: 15px;
}

.item1 {
    display:flex ;
    flex-direction: column;
    color: #000;
    margin: 15px;
}

.item1 h1{
    display: flex;
    flex-direction: row;
    font-size: 17px;
    
}

.item1 p {
    margin: 5px;
    font-size: 14px;
}



.item1 button{
    width: 100px;
    border-radius: 10px;
    margin-left: 55px;
    border: 10px;
    cursor: pointer;
}

.item1 button:hover{
    
    transition: 1.0s;
    color: #00f0b0;
    
}

.itens2 {
    display: flex;
    flex-direction: column;
    background: transparent;
    border: 2px solid #000;
    margin: 10px 60px;
    margin-left: 90px;
    width: 270px;
    align-items: center;
    height: 390px;
    border-radius: 8px;
    background-image: url('../../assets/images/texturizado.png');

}

.itens2 img {
    height: 200px;
    width: 150px;
}



.item2 h1 {
    font-size: 18px;
    margin: 20px;
}

.item2 p {
    margin-top: 2px;
    font-size: 13px;
    margin: 2px 20px;
}

.item2 button{
    width: 100px;
    border-radius: 10px;
    top: 20px;
    margin-left: 70px;
    border: none;
    cursor: pointer;
}

.item2 button:hover{
    transition: 0.8s;
    color: #00f0b0;
    border-color: #00f0b0;
}




.itens3{
    display: flex;
    flex-direction: column;
    background: transparent;
    border: 2px solid #000;
    margin: 10px 30px;
    width: 270px;
    align-items: center;
    height: 390px;
    border-radius: 8px;
    background-image: url('../../assets/images/texturizado.png');
    
}



.itens3 img{
    height: 180px;
    width: 170px;
}

.item3 {
    margin: 10px;
    color: #000;
}


.item3 h1 {
    font-size: 17px;
    margin: 30px 10px;
}

.item3 p {
    font-size: 13px;
    
}

.item3 button{
    width: 100px;
    border-radius: 10px;
    margin-left: 70px;
    border: none;
    cursor: pointer;
}

.item3 button:hover{
    transition: 1.0s;
    color: #00f0b0;
}








.fundo2{
    background-size: cover;
    background-image: url('../../assets/images/fundo2.png');
   
}

.baixo{
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.baixo h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: antiquewhite; 
    
}
    
.baixo p{
    color: antiquewhite;
    width: 750px;
    height: 230px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
     
    
}
.baixo button{
    border-radius: 9px;
    cursor: pointer;
    background-color: #3E3E3E;
    height: 30px;
    width: 170px;
    border: none;
    
    color: aliceblue;
    font-size: 10px;
    
}

.baixo button:hover{
    color: #052846;
    transition: 0.7s;
}

.infopess{
    margin: 20px;    
}

.alinhamento-home {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rodape2 p {
    display: flex;
    justify-content: center;
    padding-top: 30px;

}

.rodape2 h1{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;

}

.rodape3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;   
    margin: 20px; 
}

.RODAPE3-1 input {
    border: none; 
    background-color: transparent; 
    border-bottom: 1px solid #000; 
    padding: 0; 
    margin: 0; 
    outline: none;
}
.rodape3 p{
    padding-right: 290px;
}

.telefone-home {
    display: flex;
    flex-direction: column;
}
.telefone-home input {
    border: none; 
    background-color: transparent; 
    border-bottom: 1px solid #000; 
    padding: 0; 
    margin: 0; 
    outline: none;
}

.alinhamento2-home {
    display: flex;
    flex-direction: row;
    
    
}
.rodape4-home{
    display: flex;
    flex-direction: column;
}

.rodape4-home input {
    border: none; 
    background-color: transparent; 
    border-bottom: 1px solid #000; 
    padding: 0; 
    margin: 0; 
    outline: none;
}

.rodape5{
    display: flex;
    flex-direction: column;  
    padding-left: 143px;  
}

.rodape5 input {
    border: none; 
    background-color: transparent; 
    border-bottom: 1px solid #000; 
    padding: 0; 
    margin: 0; 
    outline: none;
}

.rodape6{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.rodape6 button{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    background-color: #1b1a1a;
    border: none;
    border-radius: 8px;
    padding-left: 10px;
    cursor: pointer;
    transition:  0.5s ease;
}

.rodape6 button:hover{
    transition: 0.7s;
    background: transparent;
    border: 1px solid #000;
    color: #000;
}

#erro-home {
    color: #ff0000;
    font-size: 16px;
}

#enviado {
    font-size: 16px;
    color: rgb(79, 158, 0);
}




.cabecario{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fundo8{
    background-color: F8F8F8;
}

.cabecario{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 40px;
    box-shadow: 100px;
    padding: 20px;
    background-color: #F8F8F8;
    height: 200px;
}

.cabecario h3{
    font-size: 17px;
    text-decoration-line:underline;
    padding-left: 30px;
}

.cabecario h3:hover{
    transition: 0.4s;
    color: rgb(1, 117, 212);
}

.cabecario h4{
    font-size: 17px;
    text-decoration-line:underline;
    padding-left: 38px;
}

.cabecario h4:hover{
    transition: 0.4s;
    color: rgb(1, 117, 212);
}

.cabecario h5{
    font-size: 17px;
    text-decoration-line:underline;
    width: 270px;
    padding-left: 38px;
}

.cabecario h5:hover{
    transition: 0.4s;
    color: rgb(1, 117, 212);
}

.cabecario h6{
    font-size: 20px;
    text-decoration-line:underline;
    width: 270px;
    font-size: 17px;
    padding-left: 48px;
}

.cabecario h6:hover{
    transition: 0.4s;
    color: rgb(1, 117, 212);
}


.cabecario img{
    width: 80px;
    padding-left: 37px;
}


.pagamento{
padding-top: 20px;
padding: 20px;


}

.pagamento img{
    display: flex;
    flex-direction: row;
    width: 1000px;
    height: 100px;
    margin-left: 105px;
}


.rodape7{
    
    background-color: #000;
    height: 170px;
}

.faixa-img{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    width: 15px;
    height: 10px;
}

.faixa-img img{
    width: 280px;
    padding-left: 100px;
    padding-top: 10px;
}

.rodape-home{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #000;
    height: 170px;
}

.rodape-home p{
    color: #F8F8F8;
    
    

}

.rodape img{
    display: flex;
    height: 50px;
}

.elements p{
    color: #b3b3b3;

}

.elements p:hover{
    transition: 0.4s;
    color: rgb(122, 255, 122);
}



// rodapé arrumado/feito




// nao usar position-relative/absolute desnecessariamente, vai atralhar a responsividade
// nao usar padding desnecessariamente, com proporção muito alta
// tem coisas q não está igual no figma, e não está alinhado direito