.infopess3{
    margin: 20px;
}

.alinhamento-home1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rodape22 p {
    display: flex;
    justify-content: center;
    padding-top: 30px;

}

.rodape22 h1{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}
.rodape22 p{
    font-size: 18px;

}
.rodape33{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px; 
    padding-right: 110px;
}

.rodape33 p{

}

.rodape55{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px; 
    padding-right: 100px;

}

.leave{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding-right: 155px;
}






.rodape66{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

}

.rodape66 button{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    background-color: #0D6C55;
    border: none;
    border-radius: 8px;
    padding-left: 10px;
    cursor: pointer;
    transition:  0.5s ease;
}

.rodape66 button:hover{
    transition: 0.7s;
    background: transparent;
    border: 1px solid #000;
    color: #000;
}

.infopess3{
    margin: 20px;
}

.alinhamento-home1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rodape22 p {
    display: flex;
    justify-content: center;
    padding-top: 10px;

}

.rodape22 h1{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}
.rodape22 p{
    font-size: 18px;

}
.rodape33{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px; 
    padding-right: 110px;
}

.rodape33 p{

}
.RODAPE33-1{
    
}
.linhhhas{
    width: 218px;
    flex-direction: column;
    padding-left: 20px;
}
.rodape55{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px; 
    padding-right: 100px;

}
.linhhhas1{
    width: 218px;
    flex-direction: column;
    padding-left: 20px;
}
.leave{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding-right: 155px;
}
.linhhhas2{
    width: 218px;
    flex-direction: column;
    padding-left: 20px;
}

.editcliente{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px;
   
   
}
.editcliente img{
    height: 30px;
    width: auto;
    
    padding-left: 51px;
}
.editcliente p{
    font-size: 13px;
    padding-top: 15px;
}
.editcliente h1{
    font-size: 13px;
    padding-left: 90px;
    padding-top: 15px;
}
.editemail{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.editemail img{
    height: 25px;
    width: auto;
    padding-left: 50px;
}
.editemail p{
    font-size: 13px;
}
.editemail h1{
    font-size: 13px;
    padding-left: 20px;
}


.editelefone{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.editelefone img{
    height: 30px;
    width: auto;
    
    padding-left: 55px;
}
.editelefone p{
    font-size: 13px;
}
.editelefone h1{
    font-size: 13px;
    padding-left: 35px;
}


.editcpf{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.editcpf img{
    height: 30px;
    width: auto;
    
    padding-left: 46px;
}
.editcpf p{
    font-size: 13px;
}
.editcpf h1{
    font-size: 13px;
    padding-left: 70px;
}





.rodape66{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding-left: 55px;
}

.rodape66 button{
    display: flex;
    justify-content: center;
    background-color: #0D6C55;
    border: none;
    border-radius: 20px;
    padding-left: 10px;
    cursor: pointer;
    transition:  0.5s ease;
    width: 250px; 
}

.rodape66 button:hover{
    transition: 0.7s;
    background: transparent;
    border: 1px solid #000;
    color: #000;
}