 *{
    box-sizing:border-box;
    margin: 0px;
 }



.resu{
    display: flex;
    justify-content: flex-end;
    padding-top: 30px;
    padding-right: 170px;
}

.osdois{
    display: flex;
    flex-direction: row;
} 

.pagarrr{
    margin-top: 20px;
    margin-left: 50px;
    border:solid;
    width: 570px;
    height: 450px;
    border-color: rgb(85, 85, 84)

}

.titlezin h1{
    font-size: 17px;
    padding-top: 20px;
    padding-left: 20px;
}

.cartao{
    display: flex;
    flex-direction: row;
    background-color: rgb(168, 168, 168);
    width: 300px;
    height: 50px;
}

.cartao img{
    height:35px ;
    width:35px ;
}

.cartao h1{
    font-size: 17px;
    padding-top: 5px;
}

.pix{
    display: flex;
    flex-direction: row;
    background-color: rgb(168, 168, 168);
    width: 300px;
    height: 50px;
}

.pix img{
    height:35px ;
    width:35px ;
}

.pix h1{
    font-size: 17px;
    padding-top: 5px;
}

.boleto{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    background-color: rgb(168, 168, 168);
    width: 300px;
    height: 50px;
    
}

.boleto img{
    height:35px;
    width:35px;
}

.boleto h1{
    font-size: 17px;
    padding-top:5px;
}

.carne{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    background-color: rgb(168, 168, 168);
    width: 300px;
    height: 50px;
}

.carne img{
    margin-left: 2px;
    height:35px;
    width:35px;
}

.carne h1{
    font-size: 17px;
    padding-top:10px;

}

.banqi{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    background-color: rgb(168, 168, 168);
    width: 300px;
    height: 50px;
}

.banqi img{
    height:35px;
    width:35px;
}

.banqi h1{
    font-size: 17px;
    padding-top:10px;
    padding-left: 5px;

}



.giftcard{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    background-color: rgb(168, 168, 168);
    width: 300px;
    height: 50px;
}

.giftcard img{
    height:35px;
    width:35px;
}

.giftcard h1{
    font-size: 17px;
    padding-top:5px;

}


.resumo{
    display: flex;
    flex-direction: row;
}


.imagemprd{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    border: solid;
    height: 100px;
    width: 130px;
    margin-left: 30px;

}

.imagemprd img{
    margin-top: 7px;
    margin-left: 19px;
    width: 85px;
    height: 80px;
}

.imagemprd h1{
    width: 100px;
    height: 100px;
    padding-left: 30px;
}


.descprd{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 170px;
    
    
}

.descprd h1{
    font-size: 18px;
}


.quant{
    display: flex;
    align-items: center;
    flex-direction: column;
}