 *{
    box-sizing:border-box;
    margin: 0px;
 }



.resu{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    
}
    

.engloba{
    display: flex;
    flex-direction: column;
}

.osdois{
    display: flex;
    flex-direction: row;
} 

.pagarrr{
    display:flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 50px;
    border:solid;
    width: 570px;
    height: 450px;
    border-color: rgb(3, 22, 27)

}

.titlezin h1{
    font-size: 17px;
    padding-top: 0px;
    padding-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #0048D5;
}

.cartao{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 7px;
    background-color: rgb(219, 219, 219);
    width: 500px;
    height: 50px;
}

.cartao img{ 
    margin-left: 0px;
    height:22px;
    width:30px;
}

.cartao h1{
    font-size: 17px;
    padding-top: 0px;
    padding-left: 13px;
}

.pix{
    display: flex;
    flex-direction: row;
    background-color: rgb(219, 219, 219);
    margin-top: 15px;
    margin-left: 10px;
    border-radius: 7px;
    width: 500px;
    height: 49px;
}

.pix img{
    margin-left: 19px;
    margin-top: 8px;
    height:35px ;
    width:35px ;
}

.pix h1{
    font-size: 17px;
    padding-top: 15px;
    padding-left: 10px;
}

.boleto{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    border-radius: 7px;
    margin-top: 20px;
    background-color: rgb(219, 219, 219);
    width: 500px;
    height: 50px;
    
}

.boleto img{
    margin-left: 20px;
    margin-top: 13px;
    height:25px ;
    width:30px ;
}

.boleto h1{
    font-size: 17px;
    padding-top:15px;
    padding-left: 12px;
}

.carne{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 7px;
    background-color: rgb(219, 219, 219);
    width: 500px;
    height: 50px;
}

.carne img{
    margin-left: 18px;
    margin-top: 7px;
    height:35px ;
    width:35px ;
}

.carne h1{
    font-size: 17px;
    padding-top:18px;
    padding-left: 9px;

}

.banqi{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 7px;
    background-color: rgb(219, 219, 219);
    width: 500px;
    height: 50px;
}

.banqi img{
    margin-left: 4px;
    
    height:25px ;
    width:29px ;
}

.banqi h1{
    font-size: 17px;
    padding-top:0px;
    padding-left: 10px;

}



.giftcard{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 7px;
    background-color: rgb(219, 219, 219);
    width: 500px;
    height: 50px;
}

.giftcard img{
    margin-left: 18px;
    margin-top: 8px;
    height:35px ;
    width:35px ;
}

.giftcard h1{
    font-size: 17px;
    padding-top:15px;
    padding-left: 7px;
}






.resumo1{
    display: flex;
    flex-direction: row;
}

.imagemprd{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    border: solid;
    height: 100px;
    width: 130px;
    margin-left: 30px;

}

.imagemprd img{
    margin-top: 7px;
    margin-left: 19px;
    width: 85px;
    height: 80px;
}

.imagemprd h1{
    width: 10px;
    height: 30px;
    font-size: 17px;
    
    padding-left: 40px;
}

.dtl{
    padding-top: 20px;
    margin-left: 30px;
    
}

.dtl h1{
    font-size: 17px;
}

.dtl h3{
    padding-top: 2px;
    font-size: 16px;
}



.botaoqtd{
    margin-left: 7px;
}

.botaoqtd button{
    width: 150px;
    border: none;
    border-radius: 5px;
    
}




