.all{

}

.quaaddttaaddoo{

}
.resumo-do-pedido{
    justify-content: end;
    display: flex;
    padding-right: 100px;
   
}
.divisoriaa{
    background-color: rgb(231, 226, 226);
    width: 50%;
    
}

.titullo{

color: #0048D5;

}

.cartao{
    display: flex;
    flex-direction: row;
    padding: 20px;
   
    
}

.pixx{
    display: flex;
    flex-direction: row;
    padding: 20px;
   
}

.boletoo{
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.carnee{
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.banqi{
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.cartaopresente{
    display: flex;
    flex-direction: row;
    padding: 20px;
}

