

.Appz{
    display: flex;
    flex-direction: column;
    
}




.primeiraptz{
    display: flex;
    flex-direction: row;
   
}


.Filtrosz{
    padding-left: 20px;
    background-color: #383636;
    height: 160px;
    width: 250px;
    
}

.Filtrosz h3{
 
}


.produtozz{
    display: flex;
    flex-direction: row;
    
}

.inputsz{
    display: flex;
    flex-direction: column;
    background-color: #383636;
    font-size: 15px;
    height: 720px;
    width: 250px;
    
}


.inputsz a{
    text-decoration: none;
    margin: 20px;
}
.inputs input{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    border-radius: 4px;
    width: 35px;
    height: 32px;
    
}

#abrirosite{
    margin-top: 10px;
}
#gerenciarprodutos{
    margin-top: 10px;
}
#pppeedidos{
    margin-top: 10px;
}
#confiiguraacoes{
    margin-top: 10px;
}
#vendaeprodu{
    margin-top: 10px;
    width: 200px;
}
#detcoonta{
    margin-top: 10px;   
}

#sair-usuario {
    padding-top: 220px;
}

.objetossz  {
    background-image: url('../../assets/images/Leonardo_Diffusion_XL_faa_uma_logo_tatical_com_um_pouco_de_opa_3.jpg');
    height: 300px;
} 


