

.somos {
   
    background-size: auto;
    height: 50vh;
    background-repeat: no-repeat;  
    background-size: 100% 60%;  
    
}

.senai h1 {
    display: flex;
    align-items: center;
    justify-content:center;
    color: #fff;
    
}   

