
.Cadastro-produtos {
    display: flex;
    flex-direction: column;
    
}

.cadastro-produto-cabecalho h1 {
    margin: 10px;
}

#chuvisco {
    display: flex;
    flex-direction: column;
    margin: 10px;   
}

.patre-do-meio-produto {
    display: flex;
    flex-direction: row;
}
#hrr {
    width: 100%;
}

.descricao-produto

.relaxa {
    display: flex;
    flex-direction:row ;
}

.relaxa input {
    display: flex;
   flex-wrap: wrap;
    padding-bottom: 50px;
    height: 60px;
    
}