div {
    font-size: 12px;
}
.funndo{
background-color: #868686;
height: 100px;

}
.caarrriinnhhoo{
    display: flex;
    flex-direction: row;
    height: 100px;
    padding-top: 50px;
    padding-left: 24px;
}

.caarrriinnhhoo img{
    height: 40px;
    padding-left: 30px;
}

.fuuundo{
 
}
.prooduuto1{
   display: flex;
   flex-direction: row;
   font-size: 10px;
   justify-content:space-evenly;
   padding-left: 10px;
}


.prro button{
    width: 400px;
    height: 50px;
}

.prreeçoo{
    font-size: 10px;

}

.prreeçoo button{
    width: 200px;
    height: 50px;
}

.quaannttiiddaaddee{
    font-size: 10px;
 
}
.quaannttiiddaaddee button{
    width: 200px;
    height: 50px;
}
.ttoottaall{
    font-size: 10px;
   
}
.ttoottaall button{
    width: 200px;
    height: 50px;
    
}






.prooduuto2{
    display: flex;
    flex-direction: row;
    font-size: 10px;
    justify-content:space-evenly;
    padding-right: 15px;
 }

 .prro2{
    background-color: #FCFAFA;
    height: 100px;
    width: 400px;
    
 }
 .prro2 p{
     width: 440px;
     height: 50px;
     font-size: 20px;;
     
     
 }
 
 .prreeçoo2{
    background-color: #FCFAFA;
    height: 100px;
    width: 200px;
    
    
 }
 
 .prreeçoo2 p{
     width: 200px;
     height: 50px;
     font-size: 20px;
     
    
 }
 
 .quaannttiiddaaddee2{
    background-color: #FCFAFA;
    height: 100px;
    width: 200px;
    
   
 }
 .quaannttiiddaaddee2 p{
     width: 200px;
     height: 50px;
     font-size: 20px;
    
 }
 .ttoottaall2{
    background-color: #FCFAFA;
    height: 100px;
    width: 200px;
   
 }
 .ttoottaall2 p{
     width: 200px;
     height: 50px;
     font-size: 20px;
 }





.suubbttoottaall{
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    padding-top: 50px;
   
}

.suubbttoottaall p{
    font-size: 15px;
    background-color: #FAFAFA;
    padding: 30px;
    width: 200px;

}

.suubbttoottaall button{
    width: 500px;
    
}


.eennttrreeggaa{
    display: flex;
    flex-direction: row;
    padding-left: 20px;

}

.eennttrreeggaa p{
    background-color: #FAFAFA;
    font-size: 15px;
    margin-top:10px;
    padding: 30px;
    width: 200px;
}

.ttoottaall{
    display: flex;
    flex-direction: row;
    padding-left: 20px;
}

.ttoottaall p{
    background-color: #FAFAFA;
    padding-top: 30px;
    font-size: 15px;
    margin-top:10px;
    padding: 30px;
    width: 200px;
}

.fiinnaalliizzaarr{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;

}
.fiinnaalliizzaarr button{
    width: 200px;
}
#finalizar-button {
    background-color: green;
}
#adicionar-button{
width: 500px;
background-color: #071027;
}
#excluir-button {
    background-color: red;
}
.bbaaiixxoo{
    display: flex;
    flex-direction: row;
    margin-left: 36px;


}



