

div {
    font-size: 12px;
    margin: 5px;
}
.caarrriinnhhoo{
    display: flex;
    flex-direction: row;
    margin: 20px;

}
.caarrriinnhhoo img{
    height: 40px;
}
.prooduuto1{
   display: flex;
   flex-direction: row;
   padding: 5px;
   font-size: 10px;
   margin: 5px;

}


.prro button{
    width: 400px;
    height: 50px;
}

.prreeçoo{
    font-size: 10px;

}

.prreeçoo button{
    width: 200px;
    height: 50px;
}

.quaannttiiddaaddee{
    font-size: 10px;
 
}
.quaannttiiddaaddee button{
    width: 200px;
    height: 50px;
}
.ttoottaall{
    font-size: 10px;

}
.ttoottaall button{
    width: 200px;
    height: 50px;
}

.bbaaiixxoo{
    display: flex;
    flex-direction: row;
    margin-left: 36px;


}

.ppproduto{
    background-color: rgb(255, 255, 0);
    height: 100px;
    width: 400px;
}
.pppreco{
    background-color: rgb(255, 255, 0);
    height: 100px;
    width: 200px;

}
.qqquant{
    background-color: rgb(255, 255, 0);
    height: 100px;
    width: 200px;
}
.tttotal{
    background-color: rgb(255, 255, 0);
    height: 100px;
    width: 200px;
}

.suubbttoottaall{
    display: flex;
    flex-direction: row;

}

.suubbttoottaall p{
    font-size: 15px;
    padding-top: 30px;
    background-color: #F1EDED;
    margin: 10px;
    width: 200px;

}

.eennttrreeggaa{
    display: flex;
    flex-direction: row;

}

.eennttrreeggaa p{
    background-color: #F1EDED;
    padding-top: 30px;
    font-size: 15px;
    margin: 10px;
    width: 200px;
}

.ttoottaall{
    display: flex;
    flex-direction: row;
}

.ttoottaall p{
    background-color: #F1EDED;
    padding-top: 30px;
    font-size: 15px;
    margin: 10px;
    width: 200px;
}

.fiinnaalliizzaarr{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fiinnaalliizzaarr button{
    background-color: #06D00E;
    width: 200px;


}

