@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto&display=swap');

.elemento-notfound {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 140px;

    img {
        height:500px;

    }
}

.textos-not {
    display: flex;
    flex-direction: column;
    margin: 0px 50px; 
    
}

.textos-not h1 {
    font-size: 42px;
    margin: 20px 30px 5px;
    padding-top: 100px;
    font-family: 'Poppins';
}

.textos-not p {
    font-size: 26px;
    font-family: 'Poppins', sans-serif;
    width: 500px;
    margin: 0px 28px;
}

.textos-not button {
    background-color: #250466;
    width: 196px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 13px; 
    font-size: 18px;
    border: none;
}

#centro {
    display: flex;
    align-items: center;
    justify-content: center;
}